<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Persons</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="appCruds">
      <nav class="navbar navbar-dark bg-primary">
        <div class="container">
          <a href="#" class="navbar-brand">
            <h3 style="display: flex;justify-content: flex-end;">
              Create Person
            </h3></a
          >
        </div>
      </nav>
      <div class="container">
        <div class="row mt-5">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <img
                  alt="Vue logo"
                  height="120px"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdu4y3ZuUt-cSic11tj2_9n3QkXumoial75Acq157fbpOy5qS1"
                />
                <h3>Add A New Person</h3>
              </div>
              <div class="card-body">
                <form @submit.prevent="addPerson">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      @keyup.enter="crearPersona"
                      placeholder="Name"
                      v-model="nombre"
                    />
                    <input
                      type="text"
                      class="form-control"
                      @keyup.enter="crearPersona"
                      placeholder="Last Name"
                      v-model="apellido"
                    />
                    <input
                      type="number"
                      class="form-control"
                      @keyup.enter="crearPersona"
                      placeholder="Age"
                      v-model="edad"
                    />
                    <input
                      type="text"
                      class="form-control"
                      @keyup.enter="crearPersona"
                      placeholder="Birthday"
                      v-model="birthday"
                    />
                  </div>
                  <input
                    @click="crearPersona"
                    type="button"
                    value="Añadir"
                    class="btn btn-success"
                  />
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-8 text-center">
            <img
              alt="Vue logo"
              height="90px"
              src="https://static.vecteezy.com/system/resources/previews/000/566/937/non_2x/vector-person-icon.jpg"
            />
            <div class="card">
              <div class="card-header">
                <h3>Lista de Persona</h3>
              </div>
              <div class="card-body">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Last Name</th>
                      <th>Age</th>
                      <th>Birthday</th>
                    </tr>
                  </thead>
                  <tr v-for="(persona, index) in personas">
                    <td>
                      <span v-if="formActualizar && idActualizar == index">
                        <input
                          v-model="nombreActualizar"
                          type="text"
                          class="form-control"
                        />
                      </span>
                      <span v-else>
                        {{ persona.nombre }}
                      </span>
                    </td>
                    <td>
                      <span v-if="formActualizar && idActualizar == index">
                        <input
                          v-model="apellidoActualizar"
                          type="text"
                          class="form-control"
                        />
                      </span>
                      <span v-else>
                        {{ persona.apellido }}
                      </span>
                    </td>
                    <td>
                      <span v-if="formActualizar && idActualizar == index">
                        <input
                          v-model="edadActualizar"
                          type="text"
                          class="form-control"
                        />
                      </span>
                      <span v-else>
                        {{ persona.edad }}
                      </span>
                    </td>
                    <td>
                      <span v-if="formActualizar && idActualizar == index">
                        <input
                          v-model="birthdayActualizar"
                          type="text"
                          class="form-control"
                        />
                      </span>
                      <span v-else>
                        {{ persona.birthday }}
                      </span>
                    </td>
                    <td>
                      <span v-if="formActualizar && idActualizar == index">
                        <button
                          @click="guardarActualizacion(index)"
                          class="btn btn-success"
                        >
                          Guardar
                        </button>
                      </span>
                      <span v-else>
                        <button
                          @click="verFormActualizar(index)"
                          class="btn btn-warning"
                        >
                          Actualizar
                        </button>
                        <button
                          @click="borrarPersona(index)"
                          class="btn btn-danger"
                        >
                          Borrar
                        </button>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="vuejs.js"></script>
  </body>
</html>
